# Compiled class file
**/*.class
**/target
**/bin
**/build
**/classes
**/*.zip

# Log file
**/*.log
**/logs

#IDEA
**/*.iml
**/*.ipr
**/*.iws
**/.idea

#Eclipse
**/.classpath
**/.project
**/.settings
**/.vscode

**/.DS_Store

#gradle
**/.gradle
**/gradle

**/.g8
**/*_extends.sh

**/prod.conf

**/node_modules

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
